
// _color.scss

$site-color: #e64448;
$header-color: #fff;
$h1-color: #3c3a48;
$p-color: #eab244;
$form-text-color: #e1e2df;
$background-color: #89c5c7;
$sign-in-color: #0b354b;
$h1-2nd-color: #696c6d;